<div class="container">
  <div class="login-page left"></div>
  <div class="login-page right center-all">
    <div class="form-content"
      [ngClass]="{'admin-mode': loginComponentStatus === StatusConstants.LOGIN_COMP_STATUS_ADD_USER}">
      <div class="form">
        <div class="top-section" *ngIf="loginComponentStatus !== StatusConstants.LOGIN_COMP_STATUS_ADD_USER">
          <div id="register" [class.active]="this.switchBetweenRegistrationLogin" class="center-all register"
            (click)="changeDisplayState_changeHandler(true)">
            Rejestracja</div>
        </div>

        <div class="middle-section center-all">
          <div *ngIf="loginComponentStatus === StatusConstants.LOGIN_COMP_STATUS_ADD_USER">{{'Dodaj użytkownika'}}</div>
          <mat-form-field appearance="fill">
            <mat-label class="has-error">Lgoin</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill"
            *ngIf="loginComponentStatus === StatusConstants.LOGIN_COMP_STATUS_REGISTRY_BUTTON_STATE">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput placeholder="Password" type="password" required>
          </mat-form-field>
          <mat-form-field appearance="fill"
            *ngIf="loginComponentStatus === StatusConstants.LOGIN_COMP_STATUS_REGISTRY_BUTTON_STATE">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput placeholder="Password" type="password" required>
          </mat-form-field>
          <button mat-raised-button color="primary">{{!switchBetweenRegistrationLogin ? 'Zaloguj' :
            'Zarejestruj'}}</button>
          <button mat-raised-button color="primary" *ngIf="!switchBetweenRegistrationLogin">Odzyskaj hasło</button>
        </div>
        <div class="bottom-section">
          <div id="login" [class.active]="!this.switchBetweenRegistrationLogin" class="center-all login"
            *ngIf="loginComponentStatus !== StatusConstants.LOGIN_COMP_STATUS_ADD_USER"
            (click)="changeDisplayState_changeHandler(false)">Logowanie
          </div>
        </div>
      </div>

    </div>
  </div>
</div>