@import '../../css-styles/global-settings-styles.scss';

.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#topSection,
#bottomSection {
    width: 450px;
    background-color: $color-main;
    height: 40px;
    &.bordr-radius-top {
        border-radius: 25px 25px 0 0;
    }
    &.bordr-radius-bottom {
        border-radius: 0 0 25px 25px;
    }
}

#midSection {
    background-color: $color-white;
    padding: 75px;
    width: 450px;
}

.vertical-content > * {
    display: flex;
    flex-direction: column;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
}

.normal-text {
    font-size: 12px;
}

#loginRegistry,
#forgotPassword {
    width: 100%;
    cursor: pointer;
}

.fields-content {
    min-height: 200px;
}
