@import '../../../css-styles/global-settings-styles.scss';

::ng-deep mat-form-field {
    width: $control-standard-width !important;
    height: 14px !important;
    font-size: 12px !important;
    margin-bottom: 5rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: $color-white !important;
}

::ng-deep.mat-form-field-underline,
::ng-deep.mat-form-field-ripple {
    background-color: $color-white !important;
}

::ng-deep.mat-form-field.mat-form-field-invalid {
    & > .mat-form-field-wrapper {
        & > .mat-form-field-underline,
        .mat-form-field-ripple {
            background-color: $color-red !important;
        }
    }
}
