@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$color-login-left-panel: rgba(0, 0, 0, 1);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(255, 0, 0);
$color-gray: rgb(124, 124, 124);
$color-green: rgb(30, 255, 0);
$color-yellow: rgb(251, 255, 0);
$color-blue: rgb(0, 109, 252);
$color-light-blue: rgb(0, 162, 255);

$control-standard-width: 300px;
