/* You can add global styles to this file, and also import other style files */
@import './app/css-styles/global-settings-styles.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px = 1rem
}

body {
    color: $color-black;
    margin: 0;
    background-color: $color-background;
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
        0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
        0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 2rem;
}

.field label {
    color: $color-black;
    margin-right: 1rem;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

// OVERRIDER PRIME
.p-menubar {
    padding: 0;
}

.spinner {
    z-index: 100;
    top: 45%;
    left: 45%;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.center-vertically {
    display: flex;
    align-items: center;
}

.mat-icon {
    &.warn-icon {
        &.error {
            color: $color-red;
        }
        &.warning {
            color: $color-yellow;
        }
    }
    &.info-icon {
        color: $color-light-blue;
        &.green {
            color: $color-green;
        }
        &.yellow {
            color: $color-yellow;
        }
        &.red {
            color: $color-red;
        }
    }
}

.mat-form-field {
    width: 100%;
    max-width: 100%;
    height: 14px !important;
    font-size: 12px !important;
    padding: 5px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}
.mat-focused.mat-form-field-label {
    color: $color-black;
    .mat-form-field-underline,
    .mat-form-field-ripple {
        background-color: $color-black;
    }
    .mat-form-field.mat-form-field-invalid {
        & > .mat-form-field-wrapper {
            & > .mat-form-field-underline,
            .mat-form-field-ripple {
                background-color: $color-red;
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, transparent 600000s 0s;
}

.mat-progress-bar-fill::after {
    background-color: green;
}

.field {
    margin: $margin-standard / 2;
}

.set-content-horizontally {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

button.mat-raised-button {
    margin: $margin-standard;
}

.h-spacer {
    min-height: $margin-standard;
}
