/* You can add global styles to this file, and also import other style files */
@import './app/css-styles/global-settings-styles.scss';
* {
    box-sizing: border-box;
}

.card {
    background-color: white;
    padding: 1.5rem;
    -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
        0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
        0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 2rem;
}

body {
    color: white;
    margin: 0;
    background-color: lightgray;
}

.field label {
    color: white;
    margin-right: 1rem;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

// OVERRIDER PRIME
.p-menubar {
    padding: 0;
}

.spinner {
    z-index: 100;
    top: 45%;
    left: 45%;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.center-vertically {
    display: flex;
    align-items: center;
}

.mat-icon {
    &.warn-icon {
        &.error {
            color: $color-red;
        }
        &.warning {
            color: $color-yellow;
        }
    }
    &.info-icon {
        color: $color-light-blue;
        &.green {
            color: $color-green;
        }
        &.yellow {
            color: $color-yellow;
        }
        &.red {
            color: $color-red;
        }
    }
}

html,
body {
    height: 100%;
    font-size: 62.5%; // 10px = 1rem
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
