@import '../../../css-styles/global-settings-styles.scss';

.icon-container-size {
    height: 5em;
    width: 5em;
}

.logo-text-line-height {
    line-height: 80%;
}

.logo-top-space {
    padding-top: 1em;
}
