<div class="nav-bar">
    <div class="center-all center-text">
        <h2 class="logo-text-line-height logo-top-space">.Car service</h2>
    </div>
    <div class="center-all icon-container-size icon-container" *ngFor="let icon of icons">
        <a (click)="navigate(icon.path!)" routerLinkActive="active" #rla="routerLinkActive">
            <mat-icon [matTooltip]="icon.tooltip!" [id]="icon.id" class="nav-icon-size nav-bar-icon">
                {{icon.name}}</mat-icon>
        </a>
    </div>
</div>